.gallery-content {
    padding: 2.5em;
}
.gallery {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.gallery li {
    display: block;
    list-style: none outside;
    position: relative;
    overflow: hidden;
    border: 1px solid white;
    transform: scale(1);
    box-shadow: 0 0 0.4em 0.4em rgba(73, 73, 73, 0);
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, border 0.4s ease-in-out;
}

.gallery li p {
    position: absolute;
    top: 0; left: 0;
    background: black;
    padding: 0 0.2em;
    color: white;
    z-index: 1;
}

.gallery span,
.gallery img {
    display: block;
    cursor: pointer;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery .link-button {
    position: absolute;
    top: 0; right: 0;
    background: red;
    color: white;
    z-index: 1;
}

