.site {
    position: relative;
    margin: 0 auto;
    max-width: var(--layout-main-width);
    min-height: var(--layout-main-height);
}

.site-content {
    height: stretch;
}


@media ( min-width: 321px ) {

    .text-content p  {
        font-size: 1.4em;
    }

    /* MAIN BACKGROUND */
    main .main-background-media:before {
        padding-top: 100vh;
    }

    main .main-background-media img {
        width: auto;
        height: 100%;
    }

    main .main-background-media.small:before {
        padding-top: 50vh;
    }

    main .main-background-media.small img {
        width: auto;
        height: 100%;
        top: 0;
    }

    main .segment .list-cards .card-content {
        width: 100%;
    } 

    section .main-background-text h1 {
        font-size: 5em;
    }

    section .main-background-text h2 {
        font-size: 3em;
    }

    /* NAVIGATION */
    div .site-header .site-title {
        display: none;
    }

    .navigation-button {
        display: block;
        margin: 0;
        padding: 0;
    }

    .navigation-button i {
        font-size: 3.6em;
        color: white;
    }

    .site-header nav {
        display: none;
        background: var(--color-fields-main-background);
        width: 50%;
        position: absolute;
        top: 100%; left: 0;
        padding: 0;
    }

    .site-header nav ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    div .site-header nav ul li {
        width: 100%;
        margin-left: 0;
        padding: 0.6em 0 0.6em 2em;
        border: 1px solid lightgray;
        border-bottom: none;
        text-align: left;
    }

    div .site-header nav ul li:last-child {
        border-bottom: 1px solid lightgray;
    }

    div .site-header nav ul li a {
        font-size: 1.4em;
    }

    /* MAP And Contacts  */

    main .contacts-content {
        display: flex;
        flex-wrap: wrap;
    }

    main > section.contacts-content > section.main-background-map {
        width: 100%;
        height: 100vh;
    }

    main > section.contacts-content > section.contacts-info {
        width: 100%;
    }

    main > section.contacts-content > section.contacts-info > ul > li {
        padding: 0 1em;
    }

    .contacts-info header h4,
    main > section.contacts-content > section.contacts-info > ul > li > i,
    main > section.contacts-content > section.contacts-info > ul > li > p {
        font-size: 2.4em;
    }

    /* GALLERY */
    .gallery-content .gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    /* ABOUT PAGE */

    main .about-content {
        display: flex;
        flex-wrap: wrap;
        padding: 3em;
    }
    
    main .about-content > .text-content {
        width: 100%;
        padding: 0;
    }
    
    main .about-content > .media-content {
        width: 100%;
        padding: 0;
    }

    /* PRICE PAGE */
    
    .tables-content { 
        width: 70%;
        margin: 0 auto 4em auto;
        display: flex;
        flex-wrap: wrap;
    }
    
    .price-content table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }

    .price-content table tbody tr {
        font-size: 1.8em;
    }
    
    .price-content table:first-child {
        margin-left: 0;
    }
    
    .price-content table:last-child {
        margin-right: 0;
    }

    /* FOOTER */
    div .site-footer {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 3em 0;
    }

    div .site-footer .site-title {
        width: 100%;
        font-size: 1.6em;
        margin-bottom: 0.6em;
    }

    div .site-footer .site-title a {
        padding: 0;
    }

    .site-footer section {
        width: 100%;
    }

    .site-footer section:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
    }

    div .site-footer section:nth-child(2) p {
        width: 100%;
        font-size: 1.6em;
        margin-bottom: 0.6em;
        margin-left: 0;
    }

}

@media ( min-width: 480px ) {

     /* MAIN BACKGROUND */
     main .main-background-media:before {
        padding-top: 60%;
    }

    main .main-background-media img {
        width: 100%;
        height: auto;
    }

    .main-background-media.small:before {
        padding-top: 35%;
    }

    main .main-background-media.small img {
        width: 100%;
        height: auto;
        top: -50%;
    }

    /* MAIN BACKGROUND TEXT */
    section .main-background-text h1 {
        font-size: 6em;
    }

    section .main-background-text h2 {
        font-size: 4em;
    }

    /* MAP And Contacts  */
    main > section.contacts-content > section.contacts-info > ul > li {
        padding: 0 2em;
    }

    .contacts-info header h4,
    main > section.contacts-content > section.contacts-info > ul > li > i,
    main > section.contacts-content > section.contacts-info > ul > li > p {
        font-size: 3em;
    }

    /* PRICE PAGE */
    .tables-content { 
        width: 60%;
    }
   
}

@media ( min-width: 768px ) {
    
    .text-content p  {
        font-size: 1em;
    }

    /* NAVIGATION */

    div .site-header .site-title {
        display: flex;
    }

    .navigation-button {
        display: none;
        margin: 0;
        padding: 0;
    }

    .navigation-button i {
        font-size: 3.6em;
        color: white;
    }

    .site-header nav {
        display: block;
        background: var(--color-fields-main-background);
        width: 60%;
        position: relative;
        top: 100%; left: 0;
        padding: 0;
        margin: 0 0 0 auto;
    }

    .site-header nav ul {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    div .site-header nav ul li {
        width: auto;
        margin-left: 0.6em;
        padding: 0 0.4em;
        border: none;
        text-align: center;
    }

    div .site-header nav ul li:first-child {
        margin-left: auto;
    }

    div .site-header nav ul li:last-child {
        border-bottom: none;
    }

    div .site-header nav ul li a {
        font-size: 1em;
    }

    /* SLIDES HOME PAGE */
    main .segment .list-cards .card-content {
        width: 33%;
    }

    section .main-background-text h1 {
        font-size: 7em;
    }

    main section .main-background-text h2 {
        font-size: 5em;
    }

    /* MAP And Contacts  */

    main .contacts-content {
        display: flex;
        flex-wrap: nowrap;
    }

    main > section.contacts-content > section.main-background-map {
        width: 70%;
        height: 100vh;
    }

    main > section.contacts-content > section.contacts-info {
        width: 30%;
    }

    section .main-background-text h2 {
        font-size: 2em;
    }

    main > section.contacts-content > section.contacts-info > ul > li {
        padding: 0;
    }

    .contacts-info header h4 {
        font-size: 1.4em;
    }

    main > section.contacts-content > section.contacts-info > ul > li > i,
    main > section.contacts-content > section.contacts-info > ul > li > p {
        font-size: 1em;
    }

     /* GALLERY */
    .gallery-content .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    /* ABOUT PAGE */

    main .about-content {
        display: flex;
        flex-wrap: nowrap;
        padding: 4em;
    }
    
    main .about-content > .text-content {
        width: 50%;
    }
    
    main .about-content > .media-content {
        width: 50%;
        padding-left: 4em;
    }

    /* PRICE PAGE */

    .tables-content {
        width: 100%;
        margin: 0 0 4em 0;
        margin-bottom: 4em;
        display: flex;
        flex-wrap: nowrap;
    }
    
    .price-content table {
        width: auto;
        text-align: center;
        border-collapse: collapse;
    }

    .price-content table tbody tr {
        font-size: 1.2em;
    }
    
    .price-content table:first-child {
        margin-left: auto;
    }
    
    .price-content table:last-child {
        margin-right: auto;
    }

    /* FOOTER */

    div .site-footer {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.5em 4em 0.5em 1em;
        background:  var(--color-fields-main-background);
    }
    
    div .site-footer .site-title {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        width: 20%;
        font-size: 1em;
        text-align: center;
    }
    
    div .site-footer .site-title a {
        width: 100%;
        margin: 0;
        padding: 0 0 0 0.5em;
        font-family: Arkhip-Regular, sans-serif;
    }
    
    div .site-footer section:nth-child(2) {
        width: auto;
        display: flex;
        flex-wrap: nowrap;
        margin-left: auto;
    }

    div .site-footer section:nth-child(2) > p {
        width: auto;
        font-size: 0.9em;
        padding: 0;
        margin-left: 2em;
        color: var(--color-body-third-text);
    }
}