.price-content {
}

.price-content header {
    text-align: center;
    margin: 2em 0;
}

.price-content header  h3 {
    margin: 0;
    padding: 0;
    color: var(--color-body-second-text);
    font-weight: bold;
}

.tables-content {
  
}

.price-content table {
 
}

.price-content table:first-child {
    
}

.price-content table:last-child {
    
}

.price-content table tr {

}

.price-content table tr th,
.price-content table tr td {
    padding: 0.5em 2.5em;
    border: 2px solid rgb(150, 150, 150);
}

.price-content table tr th {
    background: var(--color-fields-main-background);
    color: var(--color-body-third-text);
}

.price-content table tr td {
    color: var(--color-body-second-text);
    font-weight: bold;
}