@font-face {
    font-family: "Arkhip-Regular";
    src: url("./fonts/Arkhip-Regular.ttf");
}

.site-footer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5em 4em 0.5em 1em;
    background:  var(--color-fields-main-background);
}

.site-footer .site-title {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 20%;
    text-align: center;
}

.site-footer .site-title a {
    width: 100%;
    margin: 0;
    padding: 0 0 0 0.5em;
    font-family: Arkhip-Regular, sans-serif;
}

.site-footer section {
    display: flex;
    margin-left: auto;
}

.site-footer section p {
    font-size: 0.9em;
    padding: 0;
    margin-left: 2em;
    color: var(--color-body-third-text);
}
