:root {
    --font-size-body: 10px;
    --font-size-body-smaller: 14px;
    --font-size-body-small: 16px;
    --font-size-body-mid: 20px;
    --font-size-body-larger: 20px;
    --font-size-body-big: 20px;
    --font-size-body-huge: 26px;

    --layout-main-width: 100vw;

    --color-link-default: white;
    --color-h-tags-default: #316F04;
    --color-h-tags-second: white;
    --color-body-main-text: #000000;
    --color-body-second-text: #316F04;
    --color-body-third-text: white;
    --color-fields-main-background: #316F04;
    --color-fields-second-background: #97B680;
    --color-fields-after-background: rgba(255, 255, 255, 0.6);

    --color-hover: #DE2234;
}