<main>
    <section class="main-background-media small">
        <img src="/images/DSC_0037.JPG" alt="">
    </section>
    <section class="about-content">
        <section class="text-content">
            <p>Лятната Вила „Палмите” е мечтата на всеки мързеливец. Намира се само на 5 минути от централния плаж “Бутамята” и до центъра на селището.</p>
            <p>Всяка от трите спални разполага с удобни легла, телевизор и санитарен възел. Голямата веранда пред тях, с маса и столове, е удобна за игри и занимания на децата. В ляво от верандата е полянка, предназначена за паркинг на автомобилите. Тясна пътечка води към BBQ-то. В него има голям хладилник, камина, електрическа фурна с котлони, микроволнова печка, посуда, маса, пейки. Удобна за почивка е и малката дневна с диван, Sat TV и маса за кафето.</p>
            <p>За да стигнете до плажа, нямате нужда от GPS. Той се намира на 250-300 метра от вилата.</p>
            <p>Ако сте рибар или искате да се разходите с лодка - няма проблем. Предлагаме рибарска лодка за разходка.</p>
            <p>Само ни се обадете!</p>
            <p>Не са желани домашни любимци.</p>
        </section>
        <section class="media-content">
            <section onclick="showHideImage(event)" class="media">
                    <img src="/images/DSC_0011.JPG" alt="">
            </section>
            <section onclick="showHideImage(event)" class="media">
                    <img src="/images/DSC_0024.JPG" alt="">
            </section>
        </section>
    </section>
</main>