<main>
    <section class="main-background-media small">
        <img src="/images/DSC_0012.JPG" alt="">
    </section>
    <div class="gallery-content">
        <ul class="gallery">
            <li onclick="showHideImage(event)"><span><img src="/images/DSC_0002.JPG" alt=""></span></li>
            <li onclick="showHideImage(event)"><span><img src="/images/DSC_0003.JPG" alt=""></span></li>
            <li onclick="showHideImage(event)"><span><img src="/images/DSC_0006.JPG" alt=""></span></li>
            <li onclick="showHideImage(event)"><span><img src="/images/DSC_0009.JPG" alt=""></span></li>
            <li onclick="showHideImage(event)"><span><img src="/images/DSC_0011.JPG" alt=""></span></li>
            <li onclick="showHideImage(event)"><span><img src="/images/DSC_0012.JPG" alt=""></span></li>
            <li onclick="showHideImage(event)"><span><img src="/images/DSC_0018.JPG" alt=""></span></li>
            <li onclick="showHideImage(event)"><span><img src="/images/DSC_0024.JPG" alt=""></span></li>
            <li onclick="showHideImage(event)"><span><img src="/images/DSC_0026.JPG" alt=""></span></li>
            <li onclick="showHideImage(event)"><span><img src="/images/DSC_0027.JPG" alt=""></span></li>
            <li onclick="showHideImage(event)"><span><img src="/images/DSC_0034.JPG" alt=""></span></li>
            <li onclick="showHideImage(event)"><span><img src="/images/DSC_0037.JPG" alt=""></span></li>
        </ul>    
    </div>
</main>