<main>
    <section class="main-background-media">
        <img src="/images/DSC_0002.JPG" alt="">
        <section class="main-background-text">
            <h2>ЛЯТНА ВИЛА</h2>
            <h1>"ПАЛМИТЕ"</h1>
        </section>
    </section>
    <section class="segment text-content color title">
        <p>Всичко необходимо</p>
        <p>за една чудесна ваканция</p>
    </section>
    <section class="segment text-content">
        <p>Вилата е с капацитет до 8 човека и разполага с 2 тройни и 1 двойна стая със санитарни възли. Пред вилата има затревен двор, овощна градина и сенчест кът за отдих с лятна кухня. Намира се на тихо и спокойно място в близост до гора, на около 250 метра от големия плаж “Бутамята” и центъра на Синеморец. Разполага с оградено място за паркиране на автомобили.</p>
        <p>По желание се предлага разходка с лодка и риболов.</p>
    </section>
    <section class="segment slides color">
        <ul class="list-cards">
            <li class="card-content">
                <section class="card-media-content landscape">
                    <img src="/images/DSC_0002.JPG" alt="">
                </section>
            </li>
            <li class="card-content">
                <section class="card-media-content landscape">
                    <img src="/images/DSC_0002.JPG" alt="">
                </section>
            </li>
            <li class="card-content">
                <section class="card-media-content landscape">
                    <img src="/images/DSC_0002.JPG" alt="">
                </section>
            </li>
        </ul>
    </section>
    <section class="main-background-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.623568394905!2d23.306042414774556!3d42.66933182350797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa84f94c306a71%3A0x797cbcfdd7c3551c!2sSouth+Park!5e0!3m2!1sen!2sbg!4v1565870866439!5m2!1sen!2sbg" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </section>
</main>