<main>
    <section class="main-background-media small">
         <img src="data:{{convertedImageBackground.contentType}};base64, {{convertedImageBackground.photoBufferData}}" alt="Red dot" />
    </section>
    <section class="price-content">
        <header>
            <h3>Цени на цялата вила за</h3>
            <h3>една нощувка през сезон 2019:</h3>
        </header>
        <table>
            <tr>
                <th>МАЙ</th>
                <th>ЮНИ</th>
                <th>ЮЛИ-АВГУСТ</th>
                <th>СЕПТЕМВРИ</th>
            </tr>
            <tr>
                <td>160 лв.</td>
                <td>160 лв.</td>
                <td>175 лв.</td>
                <td>160 лв.</td>
            </tr>
        </table>
    </section>
</main>