<main>
    <section class="main-background-media small">
         <img src="{{imageBackground.imageUrl}}" />
    </section>
    <section class="price-content">
        <header>
            <h3>Цени на цялата вила за</h3>
            <h3>една нощувка през сезон 2019:</h3>
        </header>
        <section class="tables-content">
            <table>
                <tr>
                    <th>МАЙ</th>
                </tr>
                <tr>
                    <td>160 лв.</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>ЮНИ</th>
                </tr>
                <tr>
                    <td>160 лв.</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>ЮЛИ-АВГУСТ</th>
                </tr>
                <tr>
                    <td>175 лв.</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>СЕПТЕМВРИ</th>
                </tr>
                <tr>
                    <td>160 лв.</td>
                </tr>
            </table>
        </section>
        
    </section>
</main>