<main>
    <div class="form">
        <header>
            <h4>LOGIN PAGE</h4>
        </header>
        <form action='/login' method="POST">
            <p>
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </p>
            <p>
                <input class="input-button" type="submit" value="Login">
            </p>
        </form>
    </div>
</main>

